@media screen and (max-width: 911px){


    #scroll_box{
        overflow: visible;
    }

    #content_box{
        flex-direction: column;
        width: auto;
    }

    section{
        height: auto;
    }

    .section_inner{
        flex-direction: column;
        padding: 0 0 5rem 0;
    }

    #header{
        display: none;
    }


    #main{
        width: 100%;
        margin: 0;     
        padding: 0;
    }

    .main_tit{
        width: max-content;
        flex-direction: column-reverse;
        align-content: flex-end;
    }

    .main_tit .mov_dn{
        display: none;
    }

    .mt_img{
        display: flex;
        justify-content: center;
    }

    .mt_img img{
        width: 5.625rem;
    }
    
    .mtl_txt{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main_tit{
    }

    .main_tit h2{
        width: 60%;
        font-size: 2.5rem;
        text-align: center;
        padding: 1.25rem 0;
        word-break: keep-all;
    }
    
    .main_tit span{
        display: inline-block;
        font-size: 0.875rem;
        word-break: keep-all;
        font-weight: 400;
        width: 40%;
        letter-spacing: -0.005rem;
        line-height: 1.3;
        text-align: center;
    }
    
    .mt_right{
        margin-bottom: 2.5rem;
    }

    .mt_right strong span{
        font-size: 6.25rem;
    }

    .mt_right strong span{
        line-height: 1;
        letter-spacing: -0.02px;
    }

    .dir_arrowBox{
        right: 50%;
        top: calc(100% - 12rem);
        transform: translate(50%, 0) rotate(90deg);
        border: none;
        width: auto;
        height: auto;
    }

    .section_tit_area{
        width: 100%;
        padding: 5rem 0 0 0;
    }

    @keyframes dirArrowMov{
        0%{
            transform: translateX(-0.6rem);
            -webkit-transform: translateX(50%, -0.6rem);
        }
        100%{
            transform: translateX(0.6rem);
            -webkit-transform: translateX(0.6rem);
        }
    }

    .section_tit_bg{
        width: 100%;
        height: calc(100% + 6.25rem);
        transform: scale(1, 0);
        -webkit-transform: scale(1, 0);
        transform-origin: top;
    }

    .section_tit_area.active .section_tit_bg{
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }

    .section_tit_area .section_tit{
        width: 100%;
        gap: 1.25rem;
        align-items: center;
    }

    .section_tit h2{
        font-size: 2rem;
        text-align: center;
    }

    .section_tit p{
        font-size: 1rem;
        text-align: center;
    }

    .section_tit_numInfo em{
        text-align: center;
    }

    .section_pic,
    .section_pic.type2{
        width: 100%;
        box-sizing: border-box;
        padding: 2.5rem 2.5rem 5rem 2.5rem;
    }
    
    .sp_box{
        width: 100%;
        padding-top: calc(100% / 5 * 3);        
    }

    .sp_box img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .section_pic .sp_box:nth-child(2){
        display: none;
    }

    .graph_area{
        width: 100%;
        box-sizing: border-box;
        padding: 0 1.5rem;
    }

    .graph_tit{
        width: 100%;
        text-align: center;
        padding: 0 1.5rem;
        margin-bottom: 2.5rem;
    }

    .graph_tit h3{
        font-size: 2rem;
    }

    .graph_box{
        width: 100%;
    }

    .graph_num{
        gap: 0 0.5rem;
    }

    .graph_box ul li{
        width: 100%;
        height: 5rem;
    }

    .graph_num strong{
        font-size: 2.625rem;    
    }

    .circleChart_area{
        padding: 0 1.5rem;
        gap: 3rem 0;
    }

    .circleChart_tit{
        text-align: center;
        padding-top: 3rem;
    }

    .circleChart_tit h3{
        font-size: 2.25rem;
        font-weight: 700;
    }

    .circleChart{
        width: 100%;
    }

    .circleChart ul{
        flex-direction: column;
    }

    .circleChart ul li{
        width: 100% !important;
        margin: 0;
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding-bottom: 0;
        box-sizing: border-box;
    }

    .circleChart ul li:not(:first-child){
        margin: 0 0 3rem 0;
    }

    .circleChart ul li:first-child .colorCircle{
        width: 65vw;
        height: 65vw;
    }

    .circleChart ul li:nth-child(2){
        margin-top: -17.5vw !important;
        padding-left: 15vw;
    }

    .circleChart ul li:nth-child(n+2){
        padding-left: 15vw;
    }

    .circleChart ul li:nth-child(n+4){
        margin: 0 0 4rem 0;
    }

    .circleChart ul li:nth-child(6){
        margin: 0;
    }

    .circleChart ul li:nth-child(2) .colorCircle{
        width: 35vw;
        height: 35vw;
    }

    .colorCircle{
        position: relative;
        z-index: 2;
    }

    .circleChart ul li::after{
        width: 50%;
        height: 1px;
        bottom: 50%;
        transform: translateY(50%);
        -webkit-transform: translateY(50%);
    }

    .circleChart ul li:nth-child(n+3)::after{
        width: 100%;
        left: 0;
    }

    .circleChart ul li:nth-child(n+3)::before{
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 35vw;
        height: 100%;
        background: #fff;
    }

    .circleChart ul li:nth-child(n+2) .colorCircle_box{
        width: 35vw;
        align-items: center;
    }

    .circleChart ul li:nth-child(n+3) .colorCircle{
    }

    .colorCircle span{
        padding: 0;
        font-size: 7vw;
        font-weight: 600;
    }

    .chart_desc{
        right: 0;
        bottom: 50%;
        transform: translate(0, 50%);
        -webkit-transform: translate(0, 50%);
        margin: 0;
        padding-top: 0;
        padding-left: 1rem;
        text-align: right;
    }

    .chart_desc br{
        display: none;
    }

    .chart_desc span{
        font-size: 4vw;
        font-weight: 700;
        line-height: 1.2;
    }

    .circleChart ul li:nth-child(n+3) .colorCircle_box{
        position: relative;
    }

    .circleChart ul li:nth-child(n+3) .colorCircle{
        position: static;
    }

    .circleChart ul li:nth-child(n+3) .colorCircle span{
        left: calc(-20%);
        transform: translate(0, -50%);
    }

    .circleChart ul li:first-child .chart_desc{
        width: 15vw;
    }


}