@media screen and (max-width: 911px){


    #scroll_box{
        overflow: visible;
    }

    #content_box{
        flex-direction: column;
        width: auto;
    }

    section{
        height: auto;
    }

    .section_inner{
        flex-direction: column;
        padding: 0 0 5rem 0;
    }

    #header{
        display: none;
    }


    #main{
        width: 100%;
        margin: 0;     
        padding: 0;
    }

    .main_tit{
        width: max-content;
        flex-direction: column-reverse;
        align-content: flex-end;
    }

    .main_tit .mov_dn{
        display: none;
    }

    .mt_img{
        display: flex;
        justify-content: center;
    }

    .mt_img img{
        width: 5.625rem;
    }
    
    .mtl_txt{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main_tit{
    }

    .main_tit h2{
        width: 60%;
        font-size: 2.5rem;
        text-align: center;
        padding: 1.25rem 0;
        word-break: keep-all;
    }
    
    .main_tit span{
        display: inline-block;
        font-size: 0.875rem;
        word-break: keep-all;
        font-weight: 400;
        width: 40%;
        letter-spacing: -0.005rem;
        line-height: 1.3;
        text-align: center;
    }
    
    .mt_right{
        margin-bottom: 2.5rem;
    }

    .mt_right strong span{
        font-size: 6.25rem;
    }

    .mt_right strong span{
        line-height: 1;
        letter-spacing: -0.02px;
    }

    .dir_arrowBox{
        right: 50%;
        top: calc(100% - 12rem);
        transform: translate(50%, 0) rotate(90deg);
        border: none;
        width: auto;
        height: auto;
    }

    .section_tit_area{
        width: 100%;
        padding: 5rem 0 0 0;
    }

    @keyframes dirArrowMov{
        0%{
            transform: translateX(-0.6rem);
            -webkit-transform: translateX(50%, -0.6rem);
        }
        100%{
            transform: translateX(0.6rem);
            -webkit-transform: translateX(0.6rem);
        }
    }

    .section_tit_bg{
        width: 100%;
        height: calc(100% + 6.25rem);
        transform: scale(1, 0);
        -webkit-transform: scale(1, 0);
        transform-origin: top;
    }

    .topicSectionTit .section_tit_bg{
        height: 100%;
    }

    .section_tit_area.active .section_tit_bg{
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }

    .section_tit_area .section_tit{
        width: 100%;
        gap: 1.25rem;
        align-items: center;
        padding-bottom: 2.5rem;
    }

    .section_tit h2{
        font-size: 2rem;
        text-align: center;
    }

    .section_tit p{
        font-size: 1rem;
        text-align: center;
    }


    .section_pic,
    .section_pic.type2{
        width: 100%;
        box-sizing: border-box;
        padding: 0rem 2.5rem 5rem 2.5rem;
    }
    
    .sp_box{
        width: 100%;
        padding-top: calc(100% / 5 * 3);        
    }

    .sp_box img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .section_pic .sp_box:nth-child(2){
        display: none;
    }

    .graph_area{
        width: 100%;
        box-sizing: border-box;
        padding: 0 1.5rem;
    }

    .graph_tit{
        width: 100%;
        text-align: center;
        padding: 0 1.5rem;
        margin-bottom: 2.5rem;
    }

    .graph_tit h3{
        font-size: 2rem;
    }

    .graph_box{
        width: 100%;
    }

    .graph_num{
        gap: 0 0.5rem;
    }

    .graph_box ul li{
        width: 100%;
        height: 5rem;
    }

    .graph_num strong{
        font-size: 2.625rem;    
    }

    .circleChart_area{
        padding: 0 1.5rem;
        gap: 3rem 0;
    }

    .circleChart_tit{
        text-align: center;
        padding-top: 3rem;
    }

    .circleChart_tit h3{
        font-size: 2.25rem;
        font-weight: 700;
    }

    .circleChart{
        width: 100%;
    }

    .circleChart ul{
        flex-direction: column;
    }

    .circleChart ul li{
        width: 100% !important;
        margin: 0;
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding-bottom: 0;
        box-sizing: border-box;
    }

    .circleChart ul li:not(:first-child){
        margin: 0 0 3rem 0;
    }

    .circleChart ul li:first-child .colorCircle{
        width: 65vw;
        height: 65vw;
    }

    .circleChart ul li:nth-child(2){
        margin-top: -17.5vw !important;
        padding-left: 15vw;
    }

    .circleChart ul li:nth-child(n+2){
        padding-left: 15vw;
    }

    .circleChart ul li:nth-child(n+4){
        margin: 0 0 4rem 0;
    }

    .circleChart ul li:nth-child(6){
        margin: 0;
    }

    .circleChart ul li:nth-child(2) .colorCircle{
        width: 35vw;
        height: 35vw;
    }

    .colorCircle{
        position: relative;
        z-index: 2;
    }

    .circleChart ul li::after{
        width: 50%;
        height: 1px;
        bottom: 50%;
        transform: translateY(50%);
        -webkit-transform: translateY(50%);
    }

    .circleChart ul li:nth-child(n+3)::after{
        width: 100%;
        left: 0;
    }

    .circleChart ul li:nth-child(n+3)::before{
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 33vw;
        height: 100%;
        background: #fff;
    }

    .circleChart ul li:nth-child(n+2) .colorCircle_box{
        width: 35vw;
        align-items: center;
    }

    .circleChart ul li:nth-child(n+3) .colorCircle{
    }

    .colorCircle span{
        padding: 0;
        font-size: 7vw;
        font-weight: 600;
    }

    .chart_desc{
        right: 0;
        bottom: 50%;
        transform: translate(0, 50%);
        -webkit-transform: translate(0, 50%);
        margin: 0;
        padding-top: 0;
        padding-left: 1rem;
        text-align: right;
    }

    .chart_desc br{
        display: none;
    }

    .chart_desc span{
        font-size: 4vw;
        font-weight: 700;
        line-height: 1.2;
    }

    .circleChart ul li:nth-child(n+3) .colorCircle_box{
        position: relative;
    }

    .circleChart ul li:nth-child(n+3) .colorCircle{
        position: static;
    }

    .circleChart ul li:nth-child(n+3) .colorCircle span{
        left: calc(-20%);
        transform: translate(0, -50%);
    }

    .circleChart ul li:first-child .chart_desc{
        width: 15vw;
    }

    .section_tit_num{
        gap: 0 0.5rem;
        justify-content: center;
    }

    .section_tit_num strong{
        font-size: 2.625rem;
    }

    .section_tit_numInfo em{
        text-align: center;
    }

    .infoBox_area{
        width: 100%;
        overflow-x: scroll;
        box-sizing: border-box;
        padding-left: 1.5rem;
    }

    .infoBox_area ul{
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 0 0.75rem;
    }

    .infoBox_area ul li{
        width: 90vw;
    }
    
    .infoBox{
        width: 100%;
        height: 100%;
        padding: 1.5rem;
    }

    .infoBox_icon_area{
        width: 100%;
    }

    .infoBox_icon_area .infoBox_icon{
        width: 4.5rem;
        height: 4.5rem;
        background-size: 60%;
    }

    .infoBox_top{
        flex-wrap: wrap;
        margin-bottom: 5rem;
    }

    .infoBox_top strong{
        font-size: 1.25rem;
    }

    .infoBox_top p{
        display: block;
        width: 100%;
        font-size: 1rem;
    }

    .basic_numInfo{
        gap: 0 0.5rem;
    }

    .basic_numInfo strong{
        font-size: 2.625rem;
    }

    .section_tit .st_cate{
        text-align: center;
        font-size: 1rem;
    }

    .section_tit_top{
        gap: 0.75rem 0;
    }

    .section_topic_nav ul{
        flex-direction: row;
        justify-content: center;
        gap: 0 0.8rem;
    }

    .section_topic_nav ul li{
        width: auto;
        padding: 0;
        border-bottom: none;
        overflow: visible;
    }

    .section_topic_nav ul li:not(:last-child)::after{
        display: block;
        content: "";
        position: absolute;
        width: 1px;
        height: 50%;
        top: 50%;
        right: -0.4rem;
        background: rgba(255, 255, 255, 0.4);
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }

    .section_topic_nav ul li strong{
        opacity: 1;
        font-size: 1rem;
    }

    .section_topic_nav ul li a{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-indent: -9999px;
        font-size: 1px;
        background: none;
        padding: 0;
    }

    .goals{
        flex-direction: column-reverse;
        gap: 1rem 0;
    }

    .goals_img{
        padding: 0;
    }

    .goals p{
        font-size: 0.875rem;
        width: 62%;
        margin: 0 auto;
        word-break: keep-all;
    }

    .topic_area{
        width: 100%;
    }

    .topic{
        width: 100%;
        padding: 5rem 1.5rem 0 1.5rem;
    }
    
    .topic_main_tit{
        position: static;
        width: 100%;
        height: auto;
        margin-bottom: 1.75rem;
    }

    .topic_main_tit_track{
        justify-content: center;
    }

    .topic_main_tit h3 strong{
        font-size: 2.5rem;
    }

    .topic_main_tit h3 span{
        font-size: 1.25rem;
        margin-left: 0.75rem;
    }

    .topic_tit{
        width: 100%;
    }

    .topic_tit_img{
        max-width: 100%;
        height: auto;
        padding: 2.5rem 0;
    }

    .topic_tit_img img{
        display: inline-block;
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .topic_tit_top h2{
        font-size: 2rem;
        text-align: center;
    }

    .topic_tit_top p{
        font-size: 1rem;
        text-align: center;
    }

    .topic .infoBox_area{
        padding: 0;
        overflow: visible;
    }

    .topic .infoBox_area ul{
        flex-direction: column;
        gap: 1.25rem 0;
    }

    .topic .infoBox.type2 .infoBox_top{
        margin-bottom: 0;
        transition-delay: 0.2s;
    }

    .infoBox.type2{
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        padding: 1.5rem;
    }

    .topic .infoBox.type2 .infoBox_bot{
        transition-delay: 0s;
    }

    #footer{
        width: 100%;
        height: auto;
    }

    .footer_inner{
        width: 100%;
        flex-direction: column;
    }

    .footer_inner > div{
        width: 100%;
    }

    .footerLeftBg{
        height: 25.625rem;
    }

    .footerLeftBg img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    .footerLeftLogo{
        width: 15rem;
    }

    .footerRightInner{
        gap: 2rem 0;
        padding: 5rem 2.5rem 5rem 5rem;
    }


}