
html, body{
    font-family: "Pretendard", sans-serif;
}

html{
    font-size: 1.756vh;
}

body{
    overflow-x: hidden;
}

:root{
    --color1-: #46a8ac;
    --color2-: #89C27A;
    --color3-: #003285;
    --color4-: #37B2E9;
    --color5-: #6562E8;
    --color6-: #0174BE;
    --color7-: #40A578;
    --color8-: #f1f4f3;
}

#scroll_box{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#content_box{
    display: flex;
    width: max-content;
}

section{
    height: 100vh;
}

#s1{
    min-width: 100vw;
}

/* header */

#header{
    position: fixed;
    left: 0;
    top: 0;
    width: 6.875rem;
    height: 100%;
    background: #fff;
    z-index: 2;
    transform-origin: left;
    overflow: hidden;
    transition: width 0.4s cubic-bezier(0, 0.55, 0.45, 1), border-width 0.001s 0.4s;
    will-change: width;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-right: 0px solid #ebebeb;
}

#header.active{
    width: 51.25rem;
    border-width: 1px;
    transition: width 0.4s cubic-bezier(0, 0.55, 0.45, 1), border-width 0.001s 0s;
}

#header::after{
    display: block;
    content: "";
    position: absolute;
    left: 6.825rem;
    top: 0;
    width: 1px;
    height: 100%;
    background: #ebebeb;
    pointer-events: none;
}

.backtoTop{
    position: absolute;
    left: 0;
    bottom: 0;
}

.backtoTop a{
    display: flex;
    justify-content: center;
    width: 6.825rem;
    padding: 1.563rem 0;
    background: #222;
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 6.875rem;
    box-sizing: border-box;
    background: #fff;
}

.logo{
    padding-top: 1.25rem;
    height: max-content;
}

.logo a{
    display: inline-block;
}

.logo a img{
    width: 4.375rem;
}

/* nav */

#nav{
    width: 100%;
    padding-top: 0.75rem;
}

.nav_floor1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.75rem 0;
}

.nav_floor1 > li{
    position: relative;
    display: flex;
    justify-content: center;
}

.nav_floor1 > li > a{
    position: relative;
    display: block;
    width: 4.375rem;
    height: 4.375rem;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    background-color: #f9fafb;
    background-position: center;
    background-repeat: no-repeat;
}

.nav_floor1 > li:nth-child(1) > a{
    background-image: url('../img/01.svg');
}

.nav_floor1 > li:nth-child(2) > a{
    background-image: url('../img/02.svg');
}

.nav_floor1 > li:nth-child(3) > a{
    background-image: url('../img/03.svg');
}

.nav_floor1 > li:nth-child(4) > a{
    background-image: url('../img/04.svg');
}

.nav_floor1 > li:nth-child(5) > a{
    background-image: url('../img/05.svg');
}

.nav_floor1 > li:nth-child(6) > a{
    background-image: url('../img/06.svg');
}

.nav_floor1 > li:nth-child(7) > a{
    background-image: url('../img/07.svg');
}

.nav_floor1 > li:nth-child(8) > a{
    background-image: url('../img/08.svg');
}

.nav_floor1 > li:first-child:hover > a,
.nav_floor1 > li:first-child.active > a{
    background-image: url('../img/01_wh.svg');
}

.nav_floor1 > li:nth-child(2):hover > a,
.nav_floor1 > li:nth-child(2).active > a{
    background-image: url('../img/02_wh.svg');
}

.nav_floor1 > li:first-child:hover > a,
.nav_floor1 > li:first-child.active > a,
.nav_floor1 > li:nth-child(2):hover > a,
.nav_floor1 > li:nth-child(2).active > a{
    background-color: var(--color1-);
}

.nav_floor1 > li:nth-child(3):hover > a,
.nav_floor1 > li:nth-child(3).active > a{
    background-color: var(--color2-);
    background-image: url('../img/03_wh.svg');
}

.nav_floor1 > li:nth-child(4):hover > a,
.nav_floor1 > li:nth-child(4).active > a{
    background-color: var(--color3-);
    background-image: url('../img/04_wh.svg');
}

.nav_floor1 > li:nth-child(5):hover > a,
.nav_floor1 > li:nth-child(5).active > a{
    background-color: var(--color4-);
    background-image: url('../img/05_wh.svg');
}

.nav_floor1 > li:nth-child(6):hover > a,
.nav_floor1 > li:nth-child(6).active > a{
    background-color: var(--color5-);
    background-image: url('../img/06_wh.svg');
}

.nav_floor1 > li:nth-child(7):hover > a,
.nav_floor1 > li:nth-child(7).active > a{
    background-color: var(--color6-);
    background-image: url('../img/07_wh.svg');
}

.nav_floor1 > li:nth-child(8):hover > a,
.nav_floor1 > li:nth-child(8).active > a{
    background-color: var(--color7-);
    background-image: url('../img/08_wh.svg');
}

.nav_floor1 > li > a::after{
    display: none;
    content: "";
    position: absolute;
    right: -1.5rem;
    top: 0;
    width: 3px;
    height: 100%;
}

.nav_floor1 > li:hover > a::after{
    display: block;
}

.nav_floor1 > li:first-child > a::after,
.nav_floor1 > li:nth-child(2) > a::after{
    background: var(--color1-);
}

.nav_floor1 > li:nth-child(3) > a::after{
    background: var(--color2-);
}

.nav_floor1 > li:nth-child(4) > a::after{
    background: var(--color3-);
}

.nav_floor1 > li:nth-child(5) > a::after{
    background: var(--color4-);
}

.nav_floor1 > li:nth-child(6) > a::after{
    background: var(--color5-);
}

.nav_floor1 > li:nth-child(7) > a::after{
    background: var(--color6-);
}

.nav_floor1 > li:nth-child(8) > a::after{
    background: var(--color7-);
}

.nav_floor2{
    position: absolute;
    width: calc(41rem);
    height: 100%;
    left: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 1.875rem 0.75rem 1.875rem;
    z-index: -1;
    transition: all .5s ease;
}

#header.active .nav_floor2{
    left: 100%;
}

.nav_floor2 > li{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav_floor2 > li > a{
    display: inline-block;
    font-size: 1.25rem;
    color: #000;
    font-weight: 700;
    width: max-content;
    letter-spacing: -0.6px;
}

.nav_floor3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0 0.75rem;
}

.nav_floor3 > li > a{
    display: inline-block;
    padding: 0.625rem 0.813rem;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 800;
    background: #BDBDBD;
    letter-spacing: -0.5px;
    color: #fff;
    border-radius: 999px;
}

.nav_floor3 > li > a:hover{
    background: #000;
}

/* main */

#main{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 6.875rem;
    width: 107rem;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 18.75rem 0 5rem;
}

.main_video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.main_video::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}

.main_video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_tit{
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.main_tit h2{
    font-size: 4.375rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.35;
    color: #fff;
    padding: 1.875rem 0 1.125rem 0;
}

.main_tit span{
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -1px;
    color: rgba(255, 255, 255, 0.8);
}

.mt_left{
    display: flex;
    width: max-content;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.mt_right{
    display: flex;
    width: max-content;
    flex-wrap: wrap;
    justify-content: center;
}

.mt_right strong{
}

.mt_right strong span{
    position: relative;
    transform: translateY(1.25rem);
    -webkit-transform: translateY(1.25rem);
    opacity: 0;
    display: inline-block;
    font-size: 19.375rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: -6px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    animation: mTRTxtAni 0.7s ease forwards;
}

@keyframes mTRTxtAni{
    to{
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}

.mt_right strong span:first-child{
    animation-delay: 0.4s;
}

.mt_right strong span:last-child{
    animation-delay: 0.1s;
}

.dir_arrowBox{
    position: absolute;
    right: 5.625rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 7.5rem;
    height: 7.5rem;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dir_arrow{
    position: relative;
    animation: dirArrowMov 1s ease alternate infinite;
}

@keyframes dirArrowMov{
    0%{
        transform: translateX(-0.8rem);
        -webkit-transform: translateX(-0.8rem);
    }

    100%{
        transform: translateX(0.8rem);
        -webkit-transform: translateX(0.8rem);
    }
}

.dir_arrow img{
    width: 2rem;
}

/* section */

.section_inner{
    height: 100%;
    padding-right: 20rem;
}

.section_inner.type1{
    display: flex;
    flex-wrap: wrap; 
}

.section_tit_area{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    padding: 5rem 7.25rem;
    box-sizing: border-box;
}

.section_tit_area.type1{
}

.section_tit_bg{
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% + 18.75rem);
    height: 100%;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform-origin: left;
    transition: all .6s ease;
}

.section_tit_area.active .section_tit_bg{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}

#section1 .section_tit_bg,
#section2 .section_tit_bg{
    background: var(--color1-);
}

.section_tit{
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.section_tit h2{
    display: inline-block;
    color: #fff;
    font-size: 3.438rem;
    font-weight: 700;
    line-height: 1.4;
}

.section_tit p{
    font-size: 1.35rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -0.03rem;
    line-height: 1.35;
}

.section_tit_numInfo{
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
    line-height: 1.15;
}

.section_tit_numInfo em{
    font-size: 1.375rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: -0.03rem;
}

.section_tit_num{
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 0 0.625rem;
    color: #fff;
}

.section_tit_num strong{
    font-size: 4.325rem;
    font-weight: 700;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.section_tit_num span{
    font-size: 1.125rem;
    font-weight: 600;
}

.section_tit_area .section_tit{
    width: 32.75rem;
    gap: 3rem 0;
}

.section_pic{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-right: 17rem;
}

.section_pic.type2{
    padding-right: 13.5rem;
}

.section_pic_area{
    position: relative;
    z-index: 2;
    width: 100%;
}

.sp_box{
    position: relative;
    width: max-content;
    height: max-content;
    opacity: 0;
    transform: translateY(1.5rem);
    -webkit-transform: translateY(1.5rem);
}

.sp_box.type1{
    position: absolute;
    right: -6.25rem;
    bottom: 2.5rem;
}

.sp_box.type2{
    position: absolute;
    top: -1.5rem;
    left: -2.75rem;
}

/* section_tit animation */

.section_tit_area.active .section_tit h2,
.section_tit_area.active .section_tit p,
.section_tit_area.active .section_tit .section_tit_numInfo,
.section_tit_area.active .section_tit .section_topic_nav,
.section_tit_area.active .section_tit .goals,
.section_tit_area.active .section_tit .st_cate{
    opacity: 0;
    transform: translateY(1.5rem);
    -webkit-transform: translateY(1.5rem);
    animation: secTitAni 0.4s ease forwards;
}

.section_tit_area .section_tit.type1 h2{
    animation-delay: 0.7s;
}

.section_tit_area .section_tit.type1 p{
    animation-delay: 0.5s;
}

.section_tit_area .section_tit.type2 h2{
    animation-delay: 0.9s;
}

.section_tit_area .section_tit.type2 .section_tit_numInfo{
    animation-delay: 0.7s;
}

.section_tit_area .section_tit.type2 p{
    animation-delay: 0.5s;
}

.section_tit_area .section_tit.type3 .goals{
    animation-delay: 0.7s;
}

.section_tit_area .section_tit.type3 .section_topic_nav{
    animation-delay: 0.8s;
}

.section_tit_area .section_tit.type3 p{
    animation-delay: 0.9s;
}

.section_tit_area .section_tit.type3 h2{
    animation-delay: 1s;
}

.section_tit_area .section_tit.type3 .st_cate{
    animation-delay: 1.1s;
}


@keyframes secTitAni{
    100%{
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}

/* section_pic animation */

.section_pic.active .sp_box{
    animation: spBoxAni 0.4s ease forwards;
}

@keyframes spBoxAni{
    100%{
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}

.section_pic .sp_box:nth-child(2){
    animation-delay: 0.2s;
}

/* graph */

.graph_area{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.graph_tit{
    padding-right: 7.5rem;
}

.graph_tit h3{
    font-size: 2.813rem;
    font-weight: 700;
    letter-spacing: -0.08rem;
    line-height: 1.4;
}

.graph_box{

}

.graph_box ul{
    display: flex;
    flex-direction: column;
    gap: 0.375rem 0;
}

.graph_box ul li{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 72.5rem;
    height: 6.25rem;
    background: #f6f6f6;
}

.graph_info{
    position: absolute;
    left: 1rem;
    top: 1.25rem;
    z-index: 2;
    letter-spacing: -0.05rem;
}

#section1 .graph_info{
    color: #fff;
}

.graph_line{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transform-origin: left;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transition: all .5s ease;
}

.graph_box.active .graph_line{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}

#section1 .graph_line{
    background-color: var(--color1-);
    opacity: 0.5;
}

#section1 .graph_box ul li:last-child .graph_line{
    opacity: 1;
}

#section1 .graph_box ul li:nth-child(1) .graph_line{
    width: 58.26%;
}

#section1 .graph_box ul li:nth-child(2) .graph_line{
    width: 66.82%;
}

#section1 .graph_box ul li:nth-child(3) .graph_line{
    width: 64.29%;
}

#section1 .graph_box ul li:nth-child(4) .graph_line{
    width: 62.45%;
}

#section1 .graph_box ul li:nth-child(5) .graph_line{
    width: 72.82%;
}

#section1 .graph_box ul li:nth-child(6) .graph_line{
    width: 96.17%;
}

.graph_num{
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-right: 0.938rem;
    gap: 0 0.625rem;
}

.graph_num strong{
    font-size: 4.325rem;
    font-weight: 700;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.graph_num span{
    font-size: 1.125rem;
    font-weight: 600;
}

#section2 .graph_box ul li:nth-child(1) .graph_line{
    width: 41.32%;
    background: #13b79e;
}

#section2 .graph_box ul li:nth-child(2) .graph_line{
    width: 91.31%;
    background: var(--color1-);
}

#section2 .graph_box ul li:nth-child(3) .graph_line{
    width: 6.89%;
    background: var(--color4-);
}

#section2 .graph_box ul li:nth-child(4) .graph_line{
    width: 5.72%;
    background: var(--color5-);
    opacity: 0.8;
}

#section2 .graph_box ul li:nth-child(5) .graph_line{
    width: 1.01%;
    background: var(--color7-);
}

#section2 .graph_box ul li:nth-child(6) .graph_line{
    width: 1.04%;
    background: var(--color6-);
}

/* circleChart */

.circleChart_area{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 14rem;
    gap: 1.25rem 0;
}

.circleChart_tit{
    width: 100%;
}

.circleChart_tit h3{
    font-size: 1.35rem;
    font-weight: 600;
}

.circleChart ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.circleChart ul li{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

.circleChart ul li:nth-child(3){
    margin-right: 3.75rem;
}

.circleChart ul li:nth-child(4),
.circleChart ul li:nth-child(5){
    margin-right: 4.75rem;
}

.circleChart ul li::after{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 50%;
    width: 1px;
  background-image: repeating-linear-gradient(90deg, #666666, #666666 6px, transparent 6px, transparent 10px), repeating-linear-gradient(180deg, #666666, #666666 6px, transparent 6px, transparent 10px), repeating-linear-gradient(90deg, #666666, #666666 6px, transparent 6px, transparent 10px), repeating-linear-gradient(180deg, #666666, #666666 6px, transparent 6px, transparent 10px);
  background-position: left top, right top, left bottom, left top;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
    z-index: -1;
}

.circleChart ul li:first-child{
    margin-right: 0;
}

.circleChart ul li:nth-child(2){
    width: 15.313rem;
    margin-left: -7.7565rem;
    margin-right: 2.5rem;
    z-index: 2;
}

.colorCircle_box{
    display: flex;
    flex-direction: column;
}

.colorCircle{
    border-radius: 50%;
}

.circleChart ul li:first-child .colorCircle{
    width: 33.75rem;
    height: 33.75rem;
    background: var(--color1-);
}

.circleChart ul li:nth-child(2) .colorCircle{
    width: 15.313rem;
    height: 15.313rem;
    background: #13b79e;
}

.circleChart ul li:nth-child(3) .colorCircle{
    width: 2.625rem;
    height: 2.625rem;
    background: var(--color4-);
}

.circleChart ul li:nth-child(4) .colorCircle{
    width: 2.188rem;
    height: 2.188rem;
    background: var(--color5-);
}

.circleChart ul li:nth-child(5) .colorCircle{
    width: 0.625rem;
    height: 0.625rem;
    background: var(--color7-);
}

.circleChart ul li:nth-child(6) .colorCircle{
    width: 0.625rem;
    height: 0.625rem;
    background: var(--color6-);
}

.colorCircle span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    font-size: 1.875rem;
    padding: 0.875rem 0 0.5rem 0;
    background: #fff;
    font-weight: 500;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
}

.circleChart ul li:first-child .colorCircle,
.circleChart ul li:nth-child(2) .colorCircle{
    position: relative;
}

.circleChart ul li:first-child .colorCircle span,
.circleChart ul li:nth-child(2) .colorCircle span{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: none;
}

.chart_desc{
    width: max-content;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding-top: 0.875rem;
    background: #fff;
    margin-top: 1.3rem;
    text-align: center;
}

.chart_desc span{
    font-weight: 600;
    letter-spacing: -0.03rem;
}

/* section 3 */

#section3 .section_tit_bg{
    background: var(--color2-);
}

#section3 .section_tit_area .section_tit.type2 .section_tit_numInfo{
    animation-delay: 0.6s;
}

#section3 .section_tit_area .section_tit.type2 p{
    animation-delay: 0.8s;
}

#section3 .section_tit_area .section_tit.type2 h2{
    animation-delay: 1s;
}

/* infoBox area */

.infoBox_area{
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.infoBox_area ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0 2.5rem;
}

.infoBox_area ul li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.infoBox{
    display: flex;
    flex-wrap: wrap;    
    align-content: space-between;
    overflow: hidden;
    width: 33rem;
    padding: 0 2.5rem;
    height: 0;
    box-sizing: border-box;
    transition: all .7s cubic-bezier(0.25, 1, 0.5, 1);
    background: #f1f4f3;
}

.infoBox.type1{
    transform-origin: center;
}

.infoBox.active{
    height: 100%;
    padding: 2.5rem;
}

.infoBox > div{
    width: 100%;
}

.infoBox_top{
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
}

.infoBox_icon_area{
    margin-bottom: 3rem;
}

.infoBox_icon_area .infoBox_icon{
    width: 6.25rem;
    height: 6.25rem;
    background-color: #fff;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 42%;
    border-radius: 50%;
}

#section3 .infoBox_area ul li:nth-child(1) .infoBox_icon{
    background-image: url('../img/ico_01.svg');
}

#section3 .infoBox_area ul li:nth-child(2) .infoBox_icon{
    background-image: url('../img/ico_02.svg');
}

#section3 .infoBox_area ul li:nth-child(3) .infoBox_icon{
    background-image: url('../img/ico_03.svg');
}

#section3 .infoBox_area ul li:nth-child(4) .infoBox_icon{
    background-image: url('../img/ico_04.svg');
}

.infoBox_top strong{
    display: inline-block;
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: -0.05rem;
    margin-bottom: 2rem;
}

.infoBox_top p{
    font-size: 1.3125rem;
    font-weight: 400;
    letter-spacing: -0.03rem;
    line-height: 1.4;
    word-break: keep-all;
}

.infoBox_bot{
    display: flex;
    flex-direction: column;
    gap: 0.625rem 0;
}

.basic_numInfo{
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 0 0.625rem;
}

.basic_numInfo strong{
    font-size: 4.325rem;
    font-weight: 700;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.basic_numInfo span{
    font-size: 1.15rem;
    font-weight: 600;
}

/* section 4 */

#section4 .section_tit_bg{
    background-color: var(--color3-);
    width: 100%;
}

.section_tit.type3{
    flex: 1;
    gap: 0;
    justify-content: space-between;
    height: 100%;
}

.section_tit .st_cate{
    position: relative;
    display: inline-block;
    font-size: 1.125rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: -0.03rem;
}

.section_tit_top{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem 0;
}

.section_topic_nav{
    width: 100%;
}

.section_topic_nav ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.section_topic_nav ul li{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    font-size: 1.125rem;
    padding: 1.625rem 0 0.825rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.section_topic_nav ul li strong{
    color: #fff;
    opacity: 0.7;
    font-weight: 700;
    letter-spacing: -0.01rem;
}

.section_topic_nav ul li a{
    margin-right: -2rem;
    color: #fff;
    opacity: 0.7;
    display: inline-block;
    font-weight: 400;
    letter-spacing: -0.03rem;
    padding-right: 2rem;
    transition: margin .2s;
    background: url('../img/ic_right.svg') no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

.section_topic_nav ul li:hover strong,
.section_topic_nav ul li:hover a{
    opacity: 1;
}

.section_topic_nav ul li:hover a{
    font-weight: 700;
    margin-right: 0;
}

.section_tit_bot{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem 0;
}


.goals{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.goals p{
    flex: 1;
    font-size: 0.8125rem;
}

.goals_img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0 0.5rem;
    padding-left: 2.125rem;
}

.goals_img li img{
    width: 3.875rem;
}

/* topic */

.topic_area{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.topic{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    padding: 14.75rem 12.5rem 0 12.5rem;
    border-right: 1px solid #ebebeb;
}

.topic_main_tit{
    position: absolute;
    left: 12.5rem;
    top: 0;
    width: calc(100% - 25rem);
    height: 14.75rem;
    box-sizing: border-box;
}

.topic_main_tit_track{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
}

.topic_main_tit h3{
    font-family: 'Spoqa Han Sans Neo', sans-serif;
}

.topic_main_tit h3 strong{
    font-size: 6.25rem;
    font-weight: 800;
    letter-spacing: -0.05rem;
}

.topic_main_tit h3 span{
    display: inline-block;
    margin-left: 1.5rem;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.03rem;
}

.topic_tit{
    position: relative;
    width: 31.25rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.topic_tit_top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.8rem 0;
}

.topic_tit_top h2{
    font-size: 2.875rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.01rem;
}

.topic_tit_top p{
    font-size: 1.3rem;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: -0.04rem;
    word-break: keep-all;
}

.topic_tit_img{
    width: 100%;
    height: 14rem;
    overflow: hidden;
}

.topic_tit_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.topic .infoBox_area{
    padding: 0 0 5.3rem 12.5rem;
    align-items: flex-end;
    box-sizing: border-box;
}

.topic .infoBox_area ul li{
    align-items: flex-end;
    flex-direction: column;
}

.infoBox.type2{
    transform-origin: bottom;
    height: 100%;
    padding: 2.5rem;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.topic .infoBox.type2.active{
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
}

.topic .infoBox.type2 .infoBox_top,
.topic .infoBox.type2 .infoBox_bot{
    opacity: 0;
    transform: translateY(1.5rem);
    -webkit-transform: translateY(1.5rem);
    transition: all .5s cubic-bezier(0.25, 1, 0.5, 1);
}

.topic .infoBox.type2.active .infoBox_top,
.topic .infoBox.type2.active .infoBox_bot{
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

.topic .infoBox.type2 .infoBox_top{
    transition-delay: 0.8s;
    margin-bottom: 8.5rem;
}

#section4 .topic:first-child .infoBox_area ul li:nth-child(1) .infoBox_icon{
    background-image: url('../img/s4_ico1.svg');
}

#section4 .topic:first-child .infoBox_area ul li:nth-child(2) .infoBox_icon{
    background-image: url('../img/s4_ico2.svg');
}

#section4 .topic:first-child .infoBox_area ul li:nth-child(3) .infoBox_icon{
    background-image: url('../img/s4_ico3.svg');
}

#section4 .topic:nth-child(2) .infoBox_area ul li:nth-child(1) .infoBox_icon{
    background-image: url('../img/s4_ico1.svg');
}

#section4 .topic:nth-child(2) .infoBox_area ul li:nth-child(2) .infoBox_icon{
    background-image: url('../img/s4_ico2.svg');
}

#section4 .topic:nth-child(2) .infoBox_area ul li:nth-child(3) .infoBox_icon{
    background-image: url('../img/s4_ico4.svg');
}

#section4 .topic:nth-child(3) .infoBox_area ul li:nth-child(1) .infoBox_icon{
    background-image: url('../img/s4_ico1.svg');
}

#section4 .topic:nth-child(3) .infoBox_area ul li:nth-child(2) .infoBox_icon{
    background-image: url('../img/s4_ico5.svg');
}

#section4 .topic:nth-child(3) .infoBox_area ul li:nth-child(3) .infoBox_icon{
    background-image: url('../img/s4_ico6.svg');
}

.topic .infoBox.type2 .infoBox_bot{
    transition-delay: 0.61s;
}

.topic .infoBox_area .infoBox{
    flex-direction: column;
    flex-wrap: nowrap;
}

.numInfo_desc{
    width: 100%;
}

.numInfo_desc strong{
    font-size: 1.3125rem;
    font-weight: 700;
    letter-spacing: -0.03rem;
}

.numInfo_desc span{
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.03rem;
    color: #999;
}