
html, body{
    font-family: "Pretendard", sans-serif;
}

html{
    font-size: 1.756vh;
}

body{
    overflow-x: hidden;
}

:root{
    --color1-: #46a8ac;
    --color2-: #89C27A;
    --color3-: #003285;
    --color4-: #37B2E9;
    --color5-: #6562E8;
    --color6-: #0174BE;
    --color7-: #40A578;
    --color8-: #f1f4f3;
}

#scroll_box{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#content_box{
    display: flex;
    width: max-content;
}

section{
    height: 100vh;
}

#s1{
    min-width: 100vw;
}

/* header */

#header{
    position: fixed;
    left: 0;
    top: 0;
    width: 6.875rem;
    height: 100%;
    background: #fff;
    z-index: 2;
    transform-origin: left;
    overflow: hidden;
    transition: width 0.4s cubic-bezier(0, 0.55, 0.45, 1), border-width 0.001s 0.4s;
    will-change: width;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-right: 0px solid #ebebeb;
}

#header.active{
    width: 51.25rem;
    border-width: 1px;
    transition: width 0.4s cubic-bezier(0, 0.55, 0.45, 1), border-width 0.001s 0s;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 6.875rem;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #ebebeb;
    background: #fff;
}

.logo{
    padding-top: 1.25rem;
    height: max-content;
}

.logo a{
    display: inline-block;
}

.logo a img{
    width: 4.375rem;
}

/* nav */

#nav{
    width: 100%;
    padding-top: 0.75rem;
}

.nav_floor1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.75rem 0;
}

.nav_floor1 > li{
    position: relative;
    display: flex;
    justify-content: center;
}

.nav_floor1 > li > a{
    position: relative;
    display: block;
    width: 4.375rem;
    height: 4.375rem;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    background: #f9fafb;
}

.nav_floor1 > li:first-child:hover > a,
.nav_floor1 > li:first-child.active > a,
.nav_floor1 > li:nth-child(2):hover > a,
.nav_floor1 > li:nth-child(2).active > a{
    background-color: var(--color1-);
}

.nav_floor1 > li:nth-child(3):hover > a,
.nav_floor1 > li:nth-child(3).active > a{
    background-color: var(--color2-);
}

.nav_floor1 > li:nth-child(4):hover > a,
.nav_floor1 > li:nth-child(4).active > a{
    background-color: var(--color3-);
}

.nav_floor1 > li:nth-child(5):hover > a,
.nav_floor1 > li:nth-child(5).active > a{
    background-color: var(--color4-);
}

.nav_floor1 > li:nth-child(6):hover > a,
.nav_floor1 > li:nth-child(6).active > a{
    background-color: var(--color5-);
}

.nav_floor1 > li:nth-child(7):hover > a,
.nav_floor1 > li:nth-child(7).active > a{
    background-color: var(--color6-);
}

.nav_floor1 > li:nth-child(8):hover > a,
.nav_floor1 > li:nth-child(8).active > a{
    background-color: var(--color7-);
}

.nav_floor1 > li > a::after{
    display: none;
    content: "";
    position: absolute;
    right: -1.5rem;
    top: 0;
    width: 3px;
    height: 100%;
}

.nav_floor1 > li:hover > a::after{
    display: block;
}

.nav_floor1 > li:first-child > a::after,
.nav_floor1 > li:nth-child(2) > a::after{
    background: var(--color1-);
}

.nav_floor1 > li:nth-child(3) > a::after{
    background: var(--color2-);
}

.nav_floor1 > li:nth-child(4) > a::after{
    background: var(--color3-);
}

.nav_floor1 > li:nth-child(5) > a::after{
    background: var(--color4-);
}

.nav_floor1 > li:nth-child(6) > a::after{
    background: var(--color5-);
}

.nav_floor1 > li:nth-child(7) > a::after{
    background: var(--color6-);
}

.nav_floor1 > li:nth-child(8) > a::after{
    background: var(--color7-);
}

.nav_floor2{
    position: absolute;
    width: calc(41rem);
    height: 100%;
    left: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 1.875rem 0.75rem 1.875rem;
    z-index: -1;
    transition: all .5s ease;
}

#header.active .nav_floor2{
    left: 100%;
}

.nav_floor2 > li{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav_floor2 > li > a{
    display: inline-block;
    font-size: 1.25rem;
    color: #000;
    font-weight: 700;
    width: max-content;
    letter-spacing: -0.6px;
}

.nav_floor3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0 0.75rem;
}

.nav_floor3 > li > a{
    display: inline-block;
    padding: 0.625rem 0.813rem;
    font-size: 1rem;
    font-weight: 800;
    background: #BDBDBD;
    letter-spacing: -0.5px;
    color: #fff;
    border-radius: 999px;
}

.nav_floor3 > li > a:hover{
    background: #000;
}

/* main */

#main{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 6.875rem;
    width: 107rem;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 18.75rem 0 5rem;
}

.main_video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.main_video::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}

.main_video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_tit{
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.main_tit h2{
    font-size: 4.375rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.35;
    color: #fff;
    padding: 1.875rem 0 1.125rem 0;
}

.main_tit span{
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -1px;
    color: rgba(255, 255, 255, 0.8);
}

.mt_left{
    display: flex;
    width: max-content;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.mt_right{
    display: flex;
    width: max-content;
    flex-wrap: wrap;
    justify-content: center;
}

.mt_right strong{
    font-size: 19.375rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: -6px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

/* section */

.section_inner{
    width: 100%;
    height: 100%;
}

.section_inner.type1{
    display: flex;
    flex-wrap: wrap; 
}

.section_tit_area{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.section_tit_area.type1{
}

.section_tit_bg{
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% + 18.75rem);
    height: 100%;
    transform-origin: left;
}

#section1 .section_tit_bg,
#section2 .section_tit_bg{
    background: var(--color1-);
}

.section_tit{
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.section_tit h2{
    color: #fff;
    font-size: 3.438rem;
    font-weight: 700;
    line-height: 1.4;
}

.section_tit p{
    font-size: 1.375rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -0.03rem;
    line-height: 1.35;
}

.section_tit_numInfo em{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: -0.03rem;
}

.section_tit_area.type1 .section_tit{
    width: 31.5rem;
    padding: 0 7.5rem;
    gap: 3.125rem 0;
}

.section_pic{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-right: 17rem;
}

.section_pic_area{
    position: relative;
    z-index: 2;
    width: 100%;
}

.sp_box{
    position: relative;
    width: max-content;
    height: max-content;
}

.sp_box.type1{
    position: absolute;
    right: -6.25rem;
    bottom: 2.5rem;
}

.sp_box.type2{
    position: absolute;
    top: -1.5rem;
    left: -2.75rem;
}

.graph_area{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 20rem;
}

.graph_box{

}

.graph_box ul{
    display: flex;
    flex-direction: column;
    gap: 0.375rem 0;
}

.graph_box ul li{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 72.5rem;
    height: 6.25rem;
    background: #f6f6f6;
}

.graph_info{
    position: absolute;
    left: 1rem;
    top: 1.25rem;
    z-index: 2;
    letter-spacing: -0.05rem;
}

#section1 .graph_info{
    color: #fff;
}

.graph_line{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

#section1 .graph_line{
    background-color: var(--color1-);
    opacity: 0.5;
}

#section1 .graph_box ul li:last-child .graph_line{
    opacity: 1;
}

#section1 .graph_box ul li:nth-child(1) .graph_line{
    width: 58.26%;
}

#section1 .graph_box ul li:nth-child(2) .graph_line{
    width: 66.82%;
}

#section1 .graph_box ul li:nth-child(3) .graph_line{
    width: 64.29%;
}

#section1 .graph_box ul li:nth-child(4) .graph_line{
    width: 62.45%;
}

#section1 .graph_box ul li:nth-child(5) .graph_line{
    width: 72.82%;
}

#section1 .graph_box ul li:nth-child(6) .graph_line{
    width: 96.17%;
}

.graph_num{
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-right: 0.938rem;
    gap: 0 0.625rem;
}

.graph_num strong{
    font-size: 4.325rem;
    font-weight: 700;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.graph_num span{
    font-size: 1.125rem;
    font-weight: 600;
}